<!doctype html>
<head>
	<meta charset="utf-8">
	<title>About</title>
	
	<script src="js/about.js"></script>
	<%= stylesheet_link_tag('about') %>
</head>

<body>


<div id="unicorn">
	<%= image_tag('me_2.png', :size=>'180x180') %>
</div>

<h1>Hello
<br>
I'm Gulnara
</h1>

<p>Here I will be sharing my journey on <a href="http://becomingaunicorn.herokuapp.com/">Becoming a Unicorn</a>.
<br>
 I will post my projects, the <a href="resources">resources</a> I use and bits of
 <br>
inspiration along the way. 
 <br> 
If you want to know more about how it all started, read my
<br>
<a href="">1st post</a>.
<br> 
If you have something to share, email me at
<br>
gulnara@gulnara.me
<br>
<br>
connect with me</p>

<div id="social-media-icons">
	<ul>
		<li class="twitter">
			<a href="https://twitter.com/Gulnara" target="_blank">
				<%= image_tag('twitter.png', :size=>'50x50') %>
			</a>
		</li>
		<li class="dribble">
			<a href="http://dribbble.com/Gulnara" target="_blank">
				<%= image_tag('dribble.png', :size=>'50x50') %>
			</a>
		</li>
		<li class="behance">
			<a href="http://www.behance.net/lyulyoka" target="_blank">
				<%= image_tag('behance.png', :size=>'50x50') %>
			</a>
		</li>
		<li class="linkedin">
			<a href="http://www.linkedin.com/in/gulnaram/" target="_blank">
				<%= image_tag('linkedin.png', :size=>'50x50') %>
			</a>
		</li>
		<li class="rss">
			<a href="#" target="_blank">
				<%= image_tag('rss.png', :size=>'50x50') %>
			</a>
		</li>
	</ul>
</div>

<div class="test">
</div>


</body>